.contact-button {
    color: #08fdd8;
    background-color: transparent;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #08fdd8;
    margin-top: 25px;
    float: left;
    animation: myanim2 1s 1.8s backwards;
}