.footer-container {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    background-color:#031030ec;
    text-align: center;
    text-shadow: 2px 2px black;
    margin: 0;
    z-index: 2;
    /* border: 1px solid red; */
}

a #githubIcon {
    color: #06d6a0;
    opacity: .8;
}
  
a #githubIcon:hover {
    opacity: 1;
}

#linkedInIcon{
    color:#118ab2;
    opacity: .8;
}
  
#linkedInIcon:hover{
    opacity: 1;
}
  
#youTubeIcon{
    color:#ffd166;
    opacity: .8;
}
  
#youTubeIcon:hover{
    opacity: 1;
}